
@media (min-width: 320px) {
  .tblReporte {
      overflow-x: scroll;

  }
}

@media (min-width: 768px) {
  .tblReporte {
      width: 100%;
  }
}

@media (min-width: 1024px) {
  .formActividad {
      margin-left: 22.5%;
  }
}
